*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

h2 {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

h3 {
    font-weight: 600;
    font-size: 1.1rem;
}



.side-nav {
    background-color: blue;
    color: white;
    width: 15%;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 200px 200px;
    gap: 20px 20px;
}

.grid-container>div {
    border-radius: 5px;
    box-shadow: 2px 2px #c7c5c5;
    background-color: white;
    padding: 20px;
}

.announce-card,
.trending-card {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px #c7c5c5;
}