*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: lightgray;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}


.container {
    height: 100vh;
    overflow: none;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 180px 1fr;
    grid-template-areas:
        "side header header"
        "side main right-col";
}

.header {
    grid-area: header;
    background-color: white;
    box-shadow: 2px 2px 2px;
}

.sidebar {
    background-color: #3c9ce6;
    grid-area: side;
}

.sidebar-flex {
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    flex-direction: column;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 60px;
}

.header-grid {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 25px 25px;
    grid-template-areas: "search search name"
        "intro intro tags";
    gap: 20px;
    padding: 10px;
}

.searchbar {
    grid-area: search;
}

.search {
    border-radius: 5px;
    background-color: lightgrey;
}

.magnify {
    width: 25px;
    height: 25px;
}

.name {
    grid-area: name;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px;
}

.intro {
    grid-area: intro;
    grid-row-start: end;
    font-weight: 900;
    padding-left: 50px;
    line-height: 0.8;
}

.intro-one {
    font-size: 1.2rem;

}

.intro-two {
    font-size: 1.5rem;
}

input {
    width: 80%;
    padding: 5px;
}

.main-content {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.main-content h2 {
    grid-column: span 2;
}

.right-col>div,
.main-content>div {
    box-shadow: 2px 2px 2px;
    border-radius: 1rem;
    padding: 15px;
    margin: 5px;
    background-color: white;
}

.right-col {
    display: grid;
    grid-area: right-col;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 40px 1fr;
    gap: 10px;
    padding: 10px;
}

.announcements,
.trending {
    padding: 5px;
}