*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #d1edff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 5px;
}


.container {
    height: 100vh;
    overflow: none;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 125px 1fr;
    grid-template-areas:
        "side header header"
        "side main right-col";
}


.sidebar {
    background-color: #2b65ed;
    grid-area: side;
}

.sidebar-flex {
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    flex-direction: column;
    line-height: 2.5;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 60px;
}

.dash-container {
    display: flex;
    align-items: center;
}

.dashboard {
    font-size: 1.5rem;
    font-weight: 900;
}

.dash-svg {
    width: 40px;
    height: 40x;
    fill: white;
}

.header {
    grid-area: header;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 2px;
}

.header-grid {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 5px;
    grid-template-areas: "search search name"
        "intro intro tags";
    gap: 20px;
    padding: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    grid-area: search;
}

.search {
    border-radius: 10px;
    background-color: #d1edff;
    width: 600px;
}

.magnify {
    width: 25px;
    height: 25px;
}

.bell {
    width: 25px;
    height: 25px;
    grid-area: name;
    margin-right: 10px;
}

.callum-tag {
    display: flex;
    align-items: center;
}

.cl {
    font-weight: 600;
    padding-left: 25px;
    font-size: 1.2rem;
}

.name {
    grid-area: name;
    font-weight: 600;
    font-size: 2rem;
    padding: 20px;
    margin-top: 20px;
}

.intro {
    grid-area: intro;
    grid-row-start: end;
    font-weight: 900;
    padding-left: 50px;
}

.intro-one {
    font-size: 0.8rem;
    line-height: 0.5;
}

.intro-two {
    font-size: 1.5rem;
    line-height: 0.5;
}

input {
    width: 1000x;
    padding: 5px;
    border: none;
}

.main-content {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.main-content h2 {
    grid-column: span 2;
}

.right-col>div,
.main-content>div {
    box-shadow: 2px 2px 2px;
    border-radius: 1rem;
    padding: 15px;
    margin: 5px;
    background-color: #f7f7f7;
    ;
}

.right-col {
    display: grid;
    grid-area: right-col;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 410px 40px 225px;
    gap: 10px;
    padding: 10px;
}

.announcements,
.trending {
    padding: 5px;
    font-size: 0.8rem;
}

.bigwoofer,
.scratchycat,
.quacktastic,
.creepycrawley {
    display: flex;
    align-items: center;
}


.trending-img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}